.table_container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .select_filter {
        height: 40px;
        width: 100%;
        max-width: 250px;
        padding: 10px;
        border: none;
        outline: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .table_wrapper {
        background-color: #fff;
        overflow: auto;

        .data_table {
            width: 100%;
            border: solid 1px #f2f2f2;
            border-radius: 5px;
            min-width: 1000px;

            .data_table_head {
                background-color: #f2f2f2;

                .data_table_row {
                    .data_table_header {
                        text-align: left;
                        padding: 10px;
                        color: #000;
                        font-size: 14px;
                    }
                }
            }

            .data_table_body {
                .data_table_row {
                    cursor: pointer;
                    transition: .5s ease-in-out;

                    &:nth-child(even) {
                        background-color: #f2f2f2;
                    }

                    &:hover {
                        opacity: .5;
                    }

                    .data_table_cell {
                        text-align: left;
                        padding: 10px;
                        color: gray;
                        font-size: 15px;

                        &:nth-child(2) {
                            color: #000;
                        }

                        .actions_button {
                            display: flex;

                            svg {
                                font-size: 20px;
                                transform: rotate(90deg);
                                color: #000;
                            }
                        }
                    }
                }

            }
        }
    }
}