.container_loading {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    height: 100vh;
    width: 100vw;
    top: 0px;
    left: 0px;
    position: fixed;

    .loading {
        border: solid 5px orangered;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border-left-color: transparent;
        animation-name: loading;
        animation-duration: .5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    @keyframes loading {
        100% {
            transform: rotate(360deg);
        }
    }
}