.container_modal {
    background-color: rgba($color: #000000, $alpha: 0.5);
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    padding: 10px;

    @keyframes area_modal {
        100% {
            transform: translateY(0%);
        }
    }

    .area_modal {
        background-color: #fff;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        border-radius: 5px;
        width: 100%;
        max-width: 500px;
        animation-name: area_modal;
        animation-duration: .2s;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transform: translateY(-100%);

        span {
            font-size: 17px;
            max-width: 90%;
        }

        .area_close {
            display: flex;
            justify-content: space-between;
            align-items: center;

            span {
                text-transform: uppercase;
                font-size: 20px;
            }

            svg {
                font-size: 25px;
                cursor: pointer;
            }
        }

        .area_btn {
            display: flex;
            gap: 20px;

            button {
                padding: 10px;
                border: none;
                flex-grow: 1;
                background-color: rgb(148, 148, 241);
                border-radius: 5px;
                color: #fff;
                font-size: 15px;
                cursor: pointer;

                &:nth-child(2) {
                    background-color: rgb(224, 105, 36);
                }
            }
        }
    }
}