* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  transition: .5s;
}

button:hover {
  opacity: .8;
}